@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para corregir el viewport en dispositivos iOS */
html, body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: -webkit-fill-available;
}

/* Clase para evitar que elementos fixed se oculten detrás de la barra de iPhone */
.ios-safe-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

/* Tamaño de viewport para iOS */
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
  
  .h-screen {
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);
  }
}
